@import '../../../public/assets/stylesheets/App.css';

.inputLabel {
  display: block;
  text-align: center;
}

.inputField {
  display: block;
  text-align: center;
  width: 15rem;
  background-color: transparent;
  color: var(--primaryColor);
  padding: .25rem;
}
