.inputLabel {
  display: block;
  text-align: center;
  padding-top: .5rem;
}

.inputField {
  display: block;
  text-align: center;
  width: 15rem;
  background-color: transparent;
  color: var(--primaryColor);
  padding: .25rem;
}
