@import '../../../public/assets/stylesheets/App.css';

/* Styling based on CodePen by Paul Pederson
   https://codepen.io/paulcp/pen/rjWZwp?editors=1100 */
.toggleContainer {
  overflow: hidden;
}

.radioInput {
  display: none;
}

.radioLabel {
  display: inline-block;
  background-color: var(--secondaryColor);
  color: var(--whiteText);
  text-align: center;
  padding: 0.5em 1em;
  border: 0.05em solid rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }

  &:last-of-type {
    border-radius: 0 5px 5px 0;
  }
}

.isChecked {
  background-color: var(--primaryColor);
}
