@import '../../../public/assets/stylesheets/App.css';
@import '../InfantsForm/InfantsForm.css';

.btn {
  width: 8rem;
  padding: .5rem .5rem;
  font-size: 1.2em;
  color: #fff;
  background-color: var(--primaryColor);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  cursor: pointer;
}
