@import '../../../public/assets/stylesheets/App.css';

.sizing {
  width: 100%;
  height: 100%;
  padding: .25em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
  transition: .2s;
}
