@import '../../../public/assets/stylesheets/App.css';

.mainContainer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

h3 {
  margin: 0;
}

label {
  display: block;
}
/*
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & label {
    display: block;
  }
}

.doubleSize {
  max-width: calc((200% / 3) - 5px);
  flex: 2 0 auto;
}

.singleSize {
  flex: 1 0 auto;
} */
