@import '../../../public/assets/stylesheets/App.css';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem repeat(3, 2em) 3rem;
  grid-row-gap: 5px;
}

.titleText {
  grid-row: 1 / 2;
  padding-left: 2rem;
}

.gridItem0 {
  grid-row: 2 / 3;
  display: inline;
}
