.menu {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }

  &__main-section {
    /* justify-content: center; */

    flex: 1 0 auto;
    text-align: center;
  }

  &__nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__nav-item {
    display: inline-block;
    margin: 0 .5rem;
  }

  &__nav-link {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--mainOrange);
    border-bottom: 5px solid var(--darkOrange);
    /* background-color: $mainOrange; */
    /* border-bottom: 5px solid $darkOrange; */
    border-radius: 10px;
    text-shadow: 0px -2px var(--darkOrange);
    /* text-shadow: 0px -2px $darkOrange; */
    text-decoration: none;
  }

  &__border {
    height: 10rem;
    background-color: var(--mainGreen);

    &--top {
      /* justify-content: flex-start; */
      transform: skewY(-10deg);
      transform-origin: bottom left;
    }

    &--bottom {
      /* justify-content: flex-end; */
      transform: skewY(-10deg);
      transform-origin: bottom right;
    }

    &--thin {
      height: 1rem;
      background-color: var(--mainOrange);
    }
  }
}
