.selectBox {
  width: 100px;
  border: none;
  border-radius: 5px;
  color: var(--text);
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.optionText {
  padding: .125rem;
}
