.gridContainer1x1 {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}
