@import '../../../public/assets/stylesheets/App.css';

.btn {
  width: 8rem;
  height: 3rem;
  background-color: transparent;
  color: var(--primaryColor);
  border: 3px solid var(--primaryColor);
  border-radius: 5px;
  margin: .5rem .5rem;
}
